@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body {
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}